<div class="mt-3 border-top pt-3">
  <h6 class="mb-1"><strong>Current Weather:</strong></h6>
  <ul class="list-group list-group-flush">
    <li class="list-group-item py-2">
      <strong>Temperature:</strong> {{ weather.temperature }} °C
    </li>
    <li class="list-group-item py-2">
      <strong>Wind Speed:</strong> {{ weather.windSpeed }} km/h
    </li>
    <li class="list-group-item py-2">
      <strong>Wind Direction:</strong> {{ weather?.windDirection }} °
    </li>
    <li class="list-group-item py-2">
      <strong>Time:</strong> {{ weather.time }}
    </li>
  </ul>
</div>
