<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a [routerLink]="'user-weather'" class="navbar-brand">UserWeather</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a [routerLink]="'user-weather'" class="nav-link">UserModel</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="'saved-users-list'" class="nav-link">Saved</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
